.contact {
  margin-top: 50px;
  font-family: 'Poiret One', cursive;
  color: #134b7c;
}
.contact__phone {
  margin: 50px;
  font-family: 'Poiret One', cursive;
}

.contact__mail {
  margin: 50px;
  font-family: 'Poiret One', cursive;
}